body {
  background: #0e7e12;
}
.card {
  text-align: center;
  background: white;
  margin: auto;
  height: 200px;
  font-size: 80px;
  width: 200px;
  padding: 20px;
  padding-top: 180px;
  border: 1px solid black;
  border-radius: 20px;
  position: relative;
}
.top-suit {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 80px;
}
.botton-suit {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 80px;
}

.space::before {
  content: "\2660";
  width: 100%;
  height: 50%;
}
.space::after {
  content: "\2660";
}
.club::before {
  content: "\2663";
}
.club::after {
  content: "\2663";
}
.heart::before {
  content: "\2665";
  color: red;
}
.heart::after {
  content: "\2665";
  color: red;
}
.diamon::before {
  content: "\2666";
  color: red;
}
.diamon::after {
  content: "\2666";
  color: red;
}
